@mixin grid-column-tmp($count) {
  grid-template-columns: repeat($count, 1fr);
  @if $count != 1 {
    @extend %grid-gap10; 
  }
}

@mixin contacts-ikon($contact) {
  background-image: url($contact);
  @extend %contacts-bg-settings;
}

@mixin skills-ikon($skill) {
  background-image: url($skill);
  @extend %skills-bg-settings;
}