header {
  @extend %dark-bg-color;

  .mobile-menu { display: none; }

  .avatar {
    margin: 0 auto;
    max-width: 500px;
    border-radius: 50%;
    background-color: $bgcolor2;
    overflow: hidden;
    box-shadow: 0px 0px 420px 150px white;
    border: 1px solid $bgcolor1;

    img { @extend %full-img; }
  }

  .author {
    text-transform: uppercase;
    font-size: clamp( 1.2em, 5vw, 4em);
    text-align: center;
    letter-spacing: 15px;
    line-height: 0.8;
    color: $title-links-color;
    transition: 0s;
  }

  .menu ul {
    @extend %flex-disp;
    background-color: $bgcolor2;
    border-radius: 50px;
  
    li {
      width: 100%;
      text-align: center;

      a {
        display: block;
        line-height: 3;
        letter-spacing: 1.5px;
        text-decoration: none;
        color: $title-links-color;
      }

      a:hover {
        background-color: $bgcolor1;
      }
    }
  }
}

@media (max-width: #{map-get($breackpoint-size, 's768')}) {
  header {
    .author {
      margin-top: 40px;
      letter-spacing: 5px;
      line-height: 1;
    }

    .menu { display: none; }
    
    .mobile-menu {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      z-index: 2;

      span {
        background-color: #ffffff;
        display: block;
        width: 40px;
        height: 6px;
        margin: 2px 0;
        border-radius: 5px;
      }
    }

    .mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      background-color: $bgcolor2;
      position: fixed;
      top: 0;
      left: 0;

      ul {
        flex-direction: column;
        width: 100%;
      }
    }

    .close {

      span { display: none; }

      span:first-of-type {
        display: block;
        transform: rotate(45deg);
        margin: 15px 15px -8px 0;
      }
      span:last-of-type {
        display: block;
        transform: rotate(-45deg);
      }
    }
  }
}