@import 'normalize.css';
@import 'variables.scss';

.conteiner {
  margin: 0 auto;
  padding: 50px 20px;
  max-width: 1100px;
  min-width: 290px;
}

header {
  background-color: $bgcolor1;

  .avatar {
    margin: 0 auto;
    max-width: 500px;
    border-radius: 50%;
    background-color: $bgcolor2;
    overflow: hidden;
    box-shadow: 0px 0px 420px 150px white;
    border: 1px solid $bgcolor1;

    img {
      width: 100%;
      height: 100%;
    }
  }
  .author {
    text-transform: uppercase;
    font-size: 4em;
    text-align: center;
    letter-spacing: 15px;
    line-height: 0.8;
    color: $title-links-color;
  }

  .menu ul {
    list-style: none;
    display: flex;
    background-color: $bgcolor2;
    border-radius: 50px;
    padding: 0;
  
    li {
      width: 100%;
      text-align: center;

      a {
        display: block;
        line-height: 3;
        letter-spacing: 1.5px;
        text-decoration: none;
        color: $title-links-color;
      }

      a:hover {
        background-color: $bgcolor1;
      }
    }
  }
}